In [109]:
import pandas as pd
from fancyimpute import KNN
from sklearn.preprocessing import LabelEncoder
from keras.utils import to_categorical

In [110]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [111]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [112]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [113]:
#combine train and test data into one dataframe
data = pd.concat([train, test], ignore_index=True)

In [114]:
print(data.shape, train.shape, test.shape)

(14204, 12) (8523, 12) (5681, 11)

### Data Exploring

In [115]:
print(data.isnull().sum())

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
dtype: int64

17% of the items have missing values for weight

In [116]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 12 columns):
Item_Fat_Content             14204 non-null object
Item_Identifier              14204 non-null object
Item_MRP                     14204 non-null float64
Item_Outlet_Sales            8523 non-null float64
Item_Type                    14204 non-null object
Item_Visibility              14204 non-null float64
Item_Weight                  11765 non-null float64
Outlet_Establishment_Year    14204 non-null int64
Outlet_Identifier            14204 non-null object
Outlet_Location_Type         14204 non-null object
Outlet_Size                  10188 non-null object
Outlet_Type                  14204 non-null object
dtypes: float64(4), int64(1), object(7)
memory usage: 1.3+ MB
None

In [117]:
data.describe()

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year
count,14204.000000,8523.000000,14204.000000,11765.000000,14204.000000
mean,141.004977,2181.288914,0.065953,12.792854,1997.830681
std,62.086938,1706.499616,0.051459,4.652502,8.371664
min,31.290000,33.290000,0.000000,4.555000,1985.000000
25%,94.012000,834.247400,0.027036,8.710000,1987.000000
50%,142.247000,1794.331000,0.054021,12.600000,1999.000000
75%,185.855600,3101.296400,0.094037,16.750000,2004.000000
max,266.888400,13086.964800,0.328391,21.350000,2009.000000

Minimum item visibility is 0. Perhaps these items are placed on higher shelves or far behind other items and not visible.

In [118]:
data[data.Item_Visibility == 0.0].count()

Item_Fat_Content             879
Item_Identifier              879
Item_MRP                     879
Item_Outlet_Sales            526
Item_Type                    879
Item_Visibility              879
Item_Weight                  733
Outlet_Establishment_Year    879
Outlet_Identifier            879
Outlet_Location_Type         879
Outlet_Size                  649
Outlet_Type                  879
dtype: int64

6% of the items have 0 visibility.

In [119]:
uniq_data = [data[col].unique() for col in data]
print
uniq_data

[array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object),
 array(['FDA15', 'DRC01', 'FDN15', ..., 'NCF55', 'NCW30', 'NCW05'],
       dtype=object),
 array([249.8092,  48.2692, 141.618 , ...,  72.8696,  82.125 , 188.053 ]),
 array([3735.138 ,  443.4228, 2097.27  , ..., 3608.636 , 2778.3834,
              nan]),
 array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
        'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
        'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
        'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object),
 array([0.0160473 , 0.01927822, 0.01676007, ..., 0.1429909 , 0.07352856,
        0.10472015]),
 array([ 9.3  ,  5.92 , 17.5  , 19.2  ,  8.93 , 10.395, 13.65 ,    nan,
        16.2  , 11.8  , 18.5  , 15.1  , 17.6  , 16.35 ,  9.   , 13.35 ,
        18.85 , 14.6  , 13.85 , 13.   ,  7.645, 11.65 ,  5.925, 19.25 ,
        18.6  , 18.7  , 17.85 , 10.   ,  8.85 ,  9.8  , 13.6  , 21.35 ,
        12.15 ,  6.42 , 19.6  , 15.85 ,  7.39 , 10.195,  9.895, 10.895,
         7.905,  9.195,  8.365,  7.97 , 17.7  , 19.35 ,  8.645, 15.6  ,
        18.25 ,  7.855,  7.825,  8.39 , 12.85 , 19.   ,  5.905,  7.76 ,
        16.75 , 15.5  ,  6.055,  6.305, 20.85 , 20.75 ,  8.895, 19.7  ,
         8.75 , 13.3  ,  8.31 , 19.75 , 17.1  , 10.5  ,  6.635, 14.15 ,
         8.89 ,  9.1  ,  7.5  , 16.85 ,  7.485, 11.6  , 12.65 , 20.25 ,
         8.6  , 12.6  ,  8.88 , 20.5  , 13.5  ,  7.235,  6.92 ,  8.02 ,
        12.8  , 16.6  , 14.   , 16.   , 21.25 ,  7.365, 18.35 ,  5.465,
         7.27 ,  6.155, 19.5  , 15.2  , 14.5  , 13.1  , 12.3  , 11.1  ,
        11.3  ,  5.75 , 11.35 ,  6.525, 10.3  ,  5.78 , 11.85 , 18.75 ,
         5.26 , 16.1  ,  9.5  , 13.8  , 14.65 ,  6.67 ,  6.11 , 17.2  ,
         6.32 ,  4.88 ,  5.425, 14.1  ,  7.55 , 17.25 , 12.   , 10.1  ,
         7.785, 13.15 ,  8.5  ,  7.63 ,  9.285,  7.975, 15.7  ,  8.985,
        20.35 ,  6.59 , 19.85 ,  6.26 , 18.2  ,  8.695,  7.075,  8.195,
         7.09 ,  6.095,  6.15 ,  9.395, 15.75 ,  7.475,  6.445, 19.1  ,
        15.   , 16.7  ,  7.07 ,  6.48 ,  9.695, 11.15 ,  9.6  , 20.7  ,
         5.5  ,  7.895, 17.35 ,  7.285,  6.17 , 11.395,  7.71 , 12.1  ,
        14.35 ,  8.1  ,  8.05 , 16.5  ,  6.785,  7.575,  7.47 , 15.25 ,
         7.605, 18.   , 21.2  ,  8.97 , 10.6  ,  6.865, 10.8  , 15.15 ,
        18.1  ,  6.655, 20.1  ,  7.935, 15.35 , 12.35 ,  6.85 ,  8.775,
        14.85 ,  7.84 , 12.5  ,  8.325,  5.765,  5.985, 14.3  ,  6.135,
         8.51 ,  6.65 ,  5.695,  6.36 ,  8.3  ,  7.56 ,  8.71 ,  6.695,
        14.8  , 17.75 ,  8.575,  6.57 ,  8.68 ,  5.63 ,  9.13 ,  6.715,
         5.82 ,  7.93 ,  5.   ,  7.445,  6.675,  8.18 ,  6.98 ,  7.435,
        20.6  ,  8.355,  8.975, 20.2  ,  5.655,  5.175, 20.   ,  7.67 ,
         4.785,  8.395,  6.175,  8.21 ,  5.845,  7.17 ,  8.785,  7.89 ,
         5.32 ,  5.03 ,  8.945,  6.28 ,  7.565,  9.31 ,  7.02 ,  5.46 ,
         6.13 ,  6.55 , 17.   , 16.25 ,  5.15 ,  7.865,  6.575,  7.06 ,
         5.785,  7.42 ,  6.235,  6.75 ,  5.86 ,  5.035,  6.38 ,  5.675,
        11.5  , 21.   , 21.1  ,  4.61 ,  7.   ,  6.405, 14.7  ,  7.68 ,
         8.185,  8.655, 10.85 ,  8.42 ,  7.85 ,  4.59 ,  7.51 , 11.   ,
         6.71 , 14.75 ,  7.59 ,  5.155,  6.365,  8.235,  5.365,  8.485,
         7.535,  4.92 ,  6.385,  8.26 ,  7.945,  8.63 ,  9.21 ,  6.965,
         8.905,  7.21 ,  7.3  ,  9.27 , 10.695,  6.215,  7.405,  7.72 ,
         6.115,  6.035,  6.78 , 15.3  ,  7.105,  7.52 ,  4.805,  6.425,
         7.6  ,  6.61 ,  7.325,  8.115,  5.94 ,  5.635,  7.35 ,  5.825,
         6.63 ,  7.05 ,  8.315,  6.8  ,  7.035,  8.96 ,  5.51 ,  8.43 ,
         8.27 ,  7.81 ,  6.885,  5.44 ,  5.405,  4.635, 10.65 ,  5.735,
         6.465,  8.84 ,  7.75 ,  6.765,  9.065,  7.655,  4.615,  8.76 ,
         7.1  ,  6.195,  5.615,  8.52 ,  7.26 ,  6.825,  5.325,  5.59 ,
         5.88 ,  5.19 ,  6.985,  9.06 ,  6.69 ,  8.615,  7.275,  6.96 ,
         9.17 ,  8.155,  5.73 ,  8.935,  8.92 ,  7.36 ,  7.64 ,  5.34 ,
         7.22 ,  6.615,  6.76 ,  6.3  ,  5.98 ,  8.06 ,  6.44 ,  5.095,
         8.8  ,  6.325,  7.31 ,  9.035,  9.105,  7.145,  4.905,  4.555,
         8.   ,  7.315,  6.89 ,  5.945,  6.86 ,  6.935,  6.03 ,  7.725,
         5.885,  7.155,  6.46 ,  5.48 ,  8.01 ,  5.8  ,  5.305,  6.905,
         7.96 ,  5.11 ,  8.77 ,  7.685,  8.275,  8.38 ,  8.35 ,  9.42 ,
         6.775,  6.4  ,  6.895,  5.485,  6.52 ,  8.67 ,  5.21 ,  5.4  ]),
 array([1999, 2009, 1998, 1987, 1985, 2002, 2007, 1997, 2004], dtype=int64),
 array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
        'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object),
 array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object),
 array(['Medium', nan, 'High', 'Small'], dtype=object),
 array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
        'Supermarket Type3'], dtype=object)]

### Data Wrangling

In [120]:
# Combine Item_Fat_Content Categories 1.LF, low, fat, and Low Fat into Low Fat and 2. reg and Regular into Regular

data.Item_Fat_Content = data.Item_Fat_Content.replace({'LF': 'Low Fat',
                                   'low fat': 'Low Fat',
                                   'reg': 'Regular'
                                   })
print(data.Item_Fat_Content.value_counts())

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [121]:
# Find the size of the different outlets 

df = data.groupby(['Outlet_Type','Outlet_Size']).sum()
df

                                  Item_MRP  Item_Outlet_Sales  \
Outlet_Type       Outlet_Size
Grocery Store     Small        123862.1000       1.796941e+05
Supermarket Type1 High         219172.4492       2.142664e+06
                  Medium       218802.9588       2.183970e+06
                  Small        436990.2746       4.386518e+06
Supermarket Type2 Medium       217987.3906       1.851823e+06
Supermarket Type3 Medium       219838.2488       3.453926e+06

                               Item_Visibility  Item_Weight  \
Outlet_Type       Outlet_Size
Grocery Store     Small              94.502641          NaN
Supermarket Type1 High               93.555174    19859.980
                  Medium             91.450099    19844.655
                  Small             187.566136    39707.560
Supermarket Type2 Medium             92.723425    19794.425
Supermarket Type3 Medium             94.075671          NaN

                               Outlet_Establishment_Year
Outlet_Type       Outlet_Size
Grocery Store     Small                          1746800
Supermarket Type1 High                           3085811
                  Medium                         3098450
                  Small                          6201550
Supermarket Type2 Medium                         3105914
Supermarket Type3 Medium                         3094615

All Grocery stores are small, Supermarket Type2 and Type3 are medium, Supermarket Type1 are small and medium.

In [122]:
# Find the common value for Supermarket Type1 and use it as the Supermarket Type1 size

s = data[data.Outlet_Type =='Supermarket Type1']
print(s.Outlet_Size.mode())

0    Small
dtype: object

In [123]:
# Replace missing values in the Outlet Size corresponding to the Outlet Type

dict = {'Grocery Store':'Small', 'Supermarket Type1': 'Small', 'Supermarket Type2': 'Medium', 'Supermarket Type3': 'Medium'}
data['Outlet_Size'] = data['Outlet_Type'].fillna(data['Outlet_Size']).map(dict)
data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Small,Supermarket Type1
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Small,Supermarket Type1
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,Small,Grocery Store
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,Small,Supermarket Type1

In [124]:
print(data.Outlet_Size.value_counts())

Small     11099
Medium     3105
Name: Outlet_Size, dtype: int64

In [125]:
# Which items have missing values for weight?

d = data[data['Item_Weight'].isnull()]
print(d['Item_Type'].value_counts())

Fruits and Vegetables    346
Snack Foods              336
Household                263
Frozen Foods             251
Dairy                    195
Canned                   186
Baking Goods             186
Health and Hygiene       148
Meat                     129
Soft Drinks              123
Breads                    73
Hard Drinks               59
Others                    52
Starchy Foods             42
Breakfast                 34
Seafood                   16
Name: Item_Type, dtype: int64

In [126]:
test_df = data.loc[(data.Item_Fat_Content == 'Regular') & (data.Item_Type == 'Dairy'), ['Item_MRP', 
            'Item_Outlet_Sales', 'Item_Visibility', 'Item_Weight' ]]
test_df

       Item_MRP  Item_Outlet_Sales  Item_Visibility  Item_Weight
11     144.1102          2187.1530         0.045464       18.500
28      45.5086           178.4344         0.161467        5.925
49     196.8794           780.3176         0.255395          NaN
67     186.0240          1118.5440         0.078946       13.650
183    112.8176          1374.2112         0.075108        5.750
198     62.9194          2105.2596         0.098664          NaN
263    231.0300          5359.6900         0.119418       13.600
310    193.6162          3848.3240         0.014791       20.250
323    149.9708          1956.1204         0.008327       11.150
368    212.5876          1286.3256         0.047685       20.700
423    256.7672          5624.6784         0.000000       20.350
438    213.4876          1929.4884         0.047565       20.700
503     76.1986          1869.5664         0.065432       16.000
546     43.8744           633.8416         0.046058        8.710
568    194.1162          3848.3240         0.014816       20.250
618     79.5986           934.7832         0.065010       16.000
639    238.3222          5736.5328         0.144017       11.600
679    114.7176          1259.6936         0.075595        5.750
721    146.8102          3499.4448         0.045244          NaN
730     48.5692           886.8456         0.072542       12.350
740    248.4092          2241.0828         0.022639       20.250
741    264.7910          4733.8380         0.000000        8.945
747    144.2102          2041.3428         0.000000       18.500
753    211.4244          7833.8028         0.030511       20.600
755     42.8086           669.1290         0.096467        5.925
863    112.2518          1707.7770         0.164543        8.050
869     49.1692           886.8456         0.072335       12.350
870     95.6752           958.7520         0.108149        6.750
954     92.7436          1323.6104         0.114117       20.700
1045   145.9102          2187.1530         0.007555       17.500
...         ...                ...              ...          ...
13273  240.2538                NaN         0.157719       17.750
13307   47.8376                NaN         0.048305       10.500
13364  151.2708                NaN         0.000000       11.150
13405   46.7744                NaN         0.045978        8.710
13448  145.7102                NaN         0.007540       17.500
13488   96.8752                NaN         0.108851        6.750
13505  120.2782                NaN         0.042705       16.700
13517  247.7092                NaN         0.022558       20.250
13579  248.1092                NaN         0.022604       20.250
13599  194.9794                NaN         0.145840       10.195
13624   48.4692                NaN         0.072381       12.350
13646   61.3194                NaN         0.099144       15.600
13665   87.8198                NaN         0.038026          NaN
13675  211.2244                NaN         0.030572       20.600
13719   90.1514                NaN         0.029933       10.395
13744   88.5514                NaN         0.000000       10.395
13773  145.5102                NaN         0.007583       17.500
13787   50.2692                NaN         0.072507       12.350
13814   55.6298                NaN         0.000000        5.325
13840   57.9562                NaN         0.113604       13.500
13847  124.8730                NaN         0.000000          NaN
13875  121.5756                NaN         0.047549        7.710
13878  220.5482                NaN         0.074035        7.855
13905  261.7910                NaN         0.087646        8.945
13996  108.6570                NaN         0.183667       18.250
14019  239.5222                NaN         0.144309       11.600
14064  261.4910                NaN         0.019622       14.850
14111  182.4608                NaN         0.023370       11.350
14119  185.0608                NaN         0.040835          NaN
14154  147.1102                NaN         0.045556       18.500

[445 rows x 4 columns]

In [127]:
# Model each feature with missing values as a function of other features, and
# use that estimate for imputation.
 
#from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

data_filled_knn = KNN(k=3).fit_transform(test_df)
pd.DataFrame(data_filled_knn, columns = test_df.columns)

Imputing row 1/445 with 0 missing, elapsed time: 0.030
Imputing row 101/445 with 1 missing, elapsed time: 0.030
Imputing row 201/445 with 0 missing, elapsed time: 0.031
Imputing row 301/445 with 1 missing, elapsed time: 0.032
Imputing row 401/445 with 1 missing, elapsed time: 0.034

     Item_MRP  Item_Outlet_Sales  Item_Visibility  Item_Weight
0    144.1102        2187.153000         0.045464    18.500000
1     45.5086         178.434400         0.161467     5.925000
2    196.8794         780.317600         0.255395    12.021114
3    186.0240        1118.544000         0.078946    13.650000
4    112.8176        1374.211200         0.075108     5.750000
5     62.9194        2105.259600         0.098664    15.600000
6    231.0300        5359.690000         0.119418    13.600000
7    193.6162        3848.324000         0.014791    20.250000
8    149.9708        1956.120400         0.008327    11.150000
9    212.5876        1286.325600         0.047685    20.700000
10   256.7672        5624.678400         0.000000    20.350000
11   213.4876        1929.488400         0.047565    20.700000
12    76.1986        1869.566400         0.065432    16.000000
13    43.8744         633.841600         0.046058     8.710000
14   194.1162        3848.324000         0.014816    20.250000
15    79.5986         934.783200         0.065010    16.000000
16   238.3222        5736.532800         0.144017    11.600000
17   114.7176        1259.693600         0.075595     5.750000
18   146.8102        3499.444800         0.045244    17.057512
19    48.5692         886.845600         0.072542    12.350000
20   248.4092        2241.082800         0.022639    20.250000
21   264.7910        4733.838000         0.000000     8.945000
22   144.2102        2041.342800         0.000000    18.500000
23   211.4244        7833.802800         0.030511    20.600000
24    42.8086         669.129000         0.096467     5.925000
25   112.2518        1707.777000         0.164543     8.050000
26    49.1692         886.845600         0.072335    12.350000
27    95.6752         958.752000         0.108149     6.750000
28    92.7436        1323.610400         0.114117    20.700000
29   145.9102        2187.153000         0.007555    17.500000
..        ...                ...              ...          ...
415  240.2538        3770.880963         0.157719    17.750000
416   47.8376         496.106185         0.048305    10.500000
417  151.2708        1121.399852         0.000000    11.150000
418   46.7744         345.586372         0.045978     8.710000
419  145.7102        1937.600618         0.007540    17.500000
420   96.8752        1047.409729         0.108851     6.750000
421  120.2782         788.747587         0.042705    16.700000
422  247.7092         908.528050         0.022558    20.250000
423  248.1092        4730.998260         0.022604    20.250000
424  194.9794        3967.841214         0.145840    10.195000
425   48.4692         856.932699         0.072381    12.350000
426   61.3194         729.428501         0.099144    15.600000
427   87.8198        1669.581082         0.038026     8.300000
428  211.2244        7649.972340         0.030572    20.600000
429   90.1514        2463.534740         0.029933    10.395000
430   88.5514        1214.138979         0.000000    10.395000
431  145.5102        1820.771943         0.007583    17.500000
432   50.2692         501.713691         0.072507    12.350000
433   55.6298         286.661031         0.000000     5.325000
434   57.9562         482.056791         0.113604    13.500000
435  124.8730        2871.275365         0.000000     5.642117
436  121.5756        1342.671051         0.047549     7.710000
437  220.5482        1016.395715         0.074035     7.855000
438  261.7910        1934.540770         0.087646     8.945000
439  108.6570        1228.315119         0.183667    18.250000
440  239.5222        2931.169213         0.144309    11.600000
441  261.4910        3951.774063         0.019622    14.850000
442  182.4608        7532.854704         0.023370    11.350000
443  185.0608        3637.758707         0.040835    11.681370
444  147.1102        3792.622519         0.045556    18.500000

[445 rows x 4 columns]

In [128]:
# Impute the missing values for Item_Weight with the KNN method from from the fancyimpute package from sklearn. 
# The KNN method imputes missing values based on the weight of other similar items.

df1 = data.groupby(['Item_Type', 'Item_Fat_Content']).apply(lambda x: 
                        pd.DataFrame(KNN(k=3).fit_transform(x.loc[:, ['Item_MRP', 
                    'Item_Outlet_Sales', 'Item_Visibility', 'Item_Weight' ]]), 
                                                      columns = ['Item_MRP', 
                    'Item_Outlet_Sales', 'Item_Visibility', 'Item_Weight' ] )).reset_index()

Imputing row 1/542 with 1 missing, elapsed time: 0.041
Imputing row 101/542 with 0 missing, elapsed time: 0.043
Imputing row 201/542 with 0 missing, elapsed time: 0.044
Imputing row 301/542 with 0 missing, elapsed time: 0.045
Imputing row 401/542 with 1 missing, elapsed time: 0.047
Imputing row 501/542 with 1 missing, elapsed time: 0.049
Imputing row 1/542 with 1 missing, elapsed time: 0.043
Imputing row 101/542 with 0 missing, elapsed time: 0.044
Imputing row 201/542 with 0 missing, elapsed time: 0.045
Imputing row 301/542 with 0 missing, elapsed time: 0.045
Imputing row 401/542 with 1 missing, elapsed time: 0.047
Imputing row 501/542 with 1 missing, elapsed time: 0.049
Imputing row 1/544 with 0 missing, elapsed time: 0.047
Imputing row 101/544 with 0 missing, elapsed time: 0.048
Imputing row 201/544 with 0 missing, elapsed time: 0.049
Imputing row 301/544 with 0 missing, elapsed time: 0.049
Imputing row 401/544 with 2 missing, elapsed time: 0.051
Imputing row 501/544 with 1 missing, elapsed time: 0.053
Imputing row 1/222 with 0 missing, elapsed time: 0.008
Imputing row 101/222 with 0 missing, elapsed time: 0.009
Imputing row 201/222 with 1 missing, elapsed time: 0.010
Imputing row 1/194 with 0 missing, elapsed time: 0.006
Imputing row 101/194 with 0 missing, elapsed time: 0.007
Imputing row 1/66 with 0 missing, elapsed time: 0.002
Imputing row 1/120 with 0 missing, elapsed time: 0.003
Imputing row 101/120 with 1 missing, elapsed time: 0.004
Imputing row 1/549 with 0 missing, elapsed time: 0.041
Imputing row 101/549 with 0 missing, elapsed time: 0.042
Imputing row 201/549 with 0 missing, elapsed time: 0.043
Imputing row 301/549 with 1 missing, elapsed time: 0.043
Imputing row 401/549 with 1 missing, elapsed time: 0.045
Imputing row 501/549 with 1 missing, elapsed time: 0.047
Imputing row 1/535 with 1 missing, elapsed time: 0.045
Imputing row 101/535 with 0 missing, elapsed time: 0.045
Imputing row 201/535 with 0 missing, elapsed time: 0.046
Imputing row 301/535 with 1 missing, elapsed time: 0.047
Imputing row 401/535 with 1 missing, elapsed time: 0.049
Imputing row 501/535 with 1 missing, elapsed time: 0.050
Imputing row 1/691 with 0 missing, elapsed time: 0.063
Imputing row 101/691 with 0 missing, elapsed time: 0.064
Imputing row 201/691 with 0 missing, elapsed time: 0.065
Imputing row 301/691 with 1 missing, elapsed time: 0.065
Imputing row 401/691 with 0 missing, elapsed time: 0.066
Imputing row 501/691 with 1 missing, elapsed time: 0.068
Imputing row 601/691 with 1 missing, elapsed time: 0.070
Imputing row 1/445 with 0 missing, elapsed time: 0.031
Imputing row 101/445 with 1 missing, elapsed time: 0.035
Imputing row 201/445 with 0 missing, elapsed time: 0.035
Imputing row 301/445 with 1 missing, elapsed time: 0.036
Imputing row 401/445 with 1 missing, elapsed time: 0.038
Imputing row 1/731 with 0 missing, elapsed time: 0.071
Imputing row 101/731 with 0 missing, elapsed time: 0.072
Imputing row 201/731 with 0 missing, elapsed time: 0.072
Imputing row 301/731 with 1 missing, elapsed time: 0.073
Imputing row 401/731 with 1 missing, elapsed time: 0.074
Imputing row 501/731 with 1 missing, elapsed time: 0.075
Imputing row 601/731 with 1 missing, elapsed time: 0.077
Imputing row 701/731 with 2 missing, elapsed time: 0.079
Imputing row 1/695 with 0 missing, elapsed time: 0.074
Imputing row 101/695 with 0 missing, elapsed time: 0.075
Imputing row 201/695 with 0 missing, elapsed time: 0.075
Imputing row 301/695 with 0 missing, elapsed time: 0.076
Imputing row 401/695 with 0 missing, elapsed time: 0.077
Imputing row 501/695 with 1 missing, elapsed time: 0.079
Imputing row 601/695 with 1 missing, elapsed time: 0.082
Imputing row 1/1086 with 0 missing, elapsed time: 0.160
Imputing row 101/1086 with 0 missing, elapsed time: 0.161
Imputing row 201/1086 with 0 missing, elapsed time: 0.162
Imputing row 301/1086 with 0 missing, elapsed time: 0.163
Imputing row 401/1086 with 0 missing, elapsed time: 0.163
Imputing row 501/1086 with 0 missing, elapsed time: 0.164
Imputing row 601/1086 with 0 missing, elapsed time: 0.165
Imputing row 701/1086 with 1 missing, elapsed time: 0.166
Imputing row 801/1086 with 1 missing, elapsed time: 0.169
Imputing row 901/1086 with 1 missing, elapsed time: 0.171
Imputing row 1001/1086 with 1 missing, elapsed time: 0.174
Imputing row 1/927 with 0 missing, elapsed time: 0.120
Imputing row 101/927 with 0 missing, elapsed time: 0.121
Imputing row 201/927 with 0 missing, elapsed time: 0.121
Imputing row 301/927 with 0 missing, elapsed time: 0.122
Imputing row 401/927 with 1 missing, elapsed time: 0.122
Imputing row 501/927 with 0 missing, elapsed time: 0.123
Imputing row 601/927 with 1 missing, elapsed time: 0.124
Imputing row 701/927 with 1 missing, elapsed time: 0.126
Imputing row 801/927 with 2 missing, elapsed time: 0.128
Imputing row 901/927 with 1 missing, elapsed time: 0.130
Imputing row 1/362 with 1 missing, elapsed time: 0.018
Imputing row 101/362 with 0 missing, elapsed time: 0.019
Imputing row 201/362 with 1 missing, elapsed time: 0.020
Imputing row 301/362 with 1 missing, elapsed time: 0.021
Imputing row 1/858 with 0 missing, elapsed time: 0.096
Imputing row 101/858 with 0 missing, elapsed time: 0.097
Imputing row 201/858 with 0 missing, elapsed time: 0.097
Imputing row 301/858 with 1 missing, elapsed time: 0.098
Imputing row 401/858 with 0 missing, elapsed time: 0.099
Imputing row 501/858 with 0 missing, elapsed time: 0.099
Imputing row 601/858 with 2 missing, elapsed time: 0.101
Imputing row 701/858 with 1 missing, elapsed time: 0.103
Imputing row 801/858 with 1 missing, elapsed time: 0.105
Imputing row 1/1548 with 0 missing, elapsed time: 0.309
Imputing row 101/1548 with 0 missing, elapsed time: 0.310
Imputing row 201/1548 with 0 missing, elapsed time: 0.311
Imputing row 301/1548 with 0 missing, elapsed time: 0.311
Imputing row 401/1548 with 0 missing, elapsed time: 0.312
Imputing row 501/1548 with 0 missing, elapsed time: 0.313
Imputing row 601/1548 with 0 missing, elapsed time: 0.314
Imputing row 701/1548 with 0 missing, elapsed time: 0.314
Imputing row 801/1548 with 0 missing, elapsed time: 0.315
Imputing row 901/1548 with 0 missing, elapsed time: 0.316
Imputing row 1001/1548 with 2 missing, elapsed time: 0.318
Imputing row 1101/1548 with 2 missing, elapsed time: 0.321
Imputing row 1201/1548 with 2 missing, elapsed time: 0.324
Imputing row 1301/1548 with 1 missing, elapsed time: 0.327
Imputing row 1401/1548 with 1 missing, elapsed time: 0.329
Imputing row 1501/1548 with 1 missing, elapsed time: 0.332
Imputing row 1/282 with 0 missing, elapsed time: 0.012
Imputing row 101/282 with 0 missing, elapsed time: 0.012
Imputing row 201/282 with 1 missing, elapsed time: 0.013
Imputing row 1/454 with 0 missing, elapsed time: 0.028
Imputing row 101/454 with 0 missing, elapsed time: 0.029
Imputing row 201/454 with 0 missing, elapsed time: 0.029
Imputing row 301/454 with 1 missing, elapsed time: 0.031
Imputing row 401/454 with 1 missing, elapsed time: 0.032
Imputing row 1/280 with 0 missing, elapsed time: 0.012
Imputing row 101/280 with 0 missing, elapsed time: 0.012
Imputing row 201/280 with 2 missing, elapsed time: 0.013
Imputing row 1/53 with 0 missing, elapsed time: 0.001
Imputing row 1/36 with 1 missing, elapsed time: 0.001
Imputing row 1/1141 with 1 missing, elapsed time: 0.171
Imputing row 101/1141 with 0 missing, elapsed time: 0.172
Imputing row 201/1141 with 0 missing, elapsed time: 0.173
Imputing row 301/1141 with 0 missing, elapsed time: 0.173
Imputing row 401/1141 with 0 missing, elapsed time: 0.174
Imputing row 501/1141 with 1 missing, elapsed time: 0.175
Imputing row 601/1141 with 0 missing, elapsed time: 0.175
Imputing row 701/1141 with 1 missing, elapsed time: 0.176
Imputing row 801/1141 with 1 missing, elapsed time: 0.179
Imputing row 901/1141 with 1 missing, elapsed time: 0.181
Imputing row 1001/1141 with 1 missing, elapsed time: 0.184
Imputing row 1101/1141 with 1 missing, elapsed time: 0.186
Imputing row 1/848 with 0 missing, elapsed time: 0.094
Imputing row 101/848 with 0 missing, elapsed time: 0.095
Imputing row 201/848 with 0 missing, elapsed time: 0.095
Imputing row 301/848 with 0 missing, elapsed time: 0.096
Imputing row 401/848 with 0 missing, elapsed time: 0.097
Imputing row 501/848 with 0 missing, elapsed time: 0.097
Imputing row 601/848 with 1 missing, elapsed time: 0.099
Imputing row 701/848 with 1 missing, elapsed time: 0.101
Imputing row 801/848 with 1 missing, elapsed time: 0.104
Imputing row 1/617 with 0 missing, elapsed time: 0.052
Imputing row 101/617 with 0 missing, elapsed time: 0.052
Imputing row 201/617 with 0 missing, elapsed time: 0.053
Imputing row 301/617 with 1 missing, elapsed time: 0.054
Imputing row 401/617 with 1 missing, elapsed time: 0.055
Imputing row 501/617 with 1 missing, elapsed time: 0.057
Imputing row 601/617 with 2 missing, elapsed time: 0.059
Imputing row 1/109 with 0 missing, elapsed time: 0.003
Imputing row 101/109 with 1 missing, elapsed time: 0.003
Imputing row 1/157 with 0 missing, elapsed time: 0.005
Imputing row 101/157 with 1 missing, elapsed time: 0.006

Imputing row 1/112 with 0 missing, elapsed time: 0.004
Imputing row 101/112 with 1 missing, elapsed time: 0.005

In [130]:
# Update the dataframe 'data' with the imputed missing values for Item_Weight

data.update(df1.Item_Weight)

In [131]:
data.shape

(14204, 12)

In [132]:
# Add a new feature Outlet_Age

data['Outlet_Age'] = 2019 - data['Outlet_Establishment_Year']
data

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,Outlet_Age
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,12.279885,1999,OUT049,Tier 1,Small,Supermarket Type1,20
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,13.567337,2009,OUT018,Tier 3,Medium,Supermarket Type2,10
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,11.100000,1999,OUT049,Tier 1,Small,Supermarket Type1,20
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,10.300034,1998,OUT010,Tier 3,Small,Grocery Store,21
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,9.100000,1987,OUT013,Tier 3,Small,Supermarket Type1,32
5,Regular,FDP36,51.4008,556.6088,Baking Goods,0.000000,7.975000,2009,OUT018,Tier 3,Medium,Supermarket Type2,10
6,Regular,FDO10,57.6588,343.5528,Snack Foods,0.012741,8.195000,1987,OUT013,Tier 3,Small,Supermarket Type1,32
7,Low Fat,FDP10,107.7622,4022.7636,Snack Foods,0.127470,7.090000,1985,OUT027,Tier 3,Medium,Supermarket Type3,34
8,Regular,FDH17,96.9726,1076.5986,Frozen Foods,0.016687,6.150000,2002,OUT045,Tier 2,Small,Supermarket Type1,17
9,Regular,FDU28,187.8214,4710.5350,Frozen Foods,0.094450,6.445000,2007,OUT017,Tier 2,Small,Supermarket Type1,12
10,Low Fat,FDY07,45.5402,1516.0266,Fruits and Vegetables,0.000000,16.654494,1999,OUT049,Tier 1,Small,Supermarket Type1,20
11,Regular,FDA03,144.1102,2187.1530,Dairy,0.045464,14.350000,1997,OUT046,Tier 1,Small,Supermarket Type1,22
12,Regular,FDX32,145.4786,1589.2646,Fruits and Vegetables,0.100014,7.090000,1999,OUT049,Tier 1,Small,Supermarket Type1,20
13,Regular,FDS46,119.6782,2145.2076,Snack Foods,0.047257,15.150000,1997,OUT046,Tier 1,Small,Supermarket Type1,22
14,Low Fat,FDF32,196.4426,1977.4260,Fruits and Vegetables,0.068024,8.556170,1987,OUT013,Tier 3,Small,Supermarket Type1,32
15,Regular,FDP49,56.3614,1547.3192,Breakfast,0.069089,14.850000,1997,OUT046,Tier 1,Small,Supermarket Type1,22
16,Low Fat,NCB42,115.3492,1621.8888,Health and Hygiene,0.008596,7.975000,2009,OUT018,Tier 3,Medium,Supermarket Type2,10
17,Regular,FDP49,54.3614,718.3982,Breakfast,0.069196,5.985000,1999,OUT049,Tier 1,Small,Supermarket Type1,20
18,Low Fat,DRI11,113.2834,2303.6680,Hard Drinks,0.034238,13.350085,1985,OUT027,Tier 3,Medium,Supermarket Type3,34
19,Low Fat,FDU02,230.5352,2748.4224,Dairy,0.102492,9.195000,2004,OUT035,Tier 2,Small,Supermarket Type1,15
20,Regular,FDN22,250.8724,3775.0860,Snack Foods,0.138190,14.300000,1987,OUT013,Tier 3,Small,Supermarket Type1,32
21,Regular,FDW12,144.5444,4064.0432,Baking Goods,0.035400,7.445000,1985,OUT027,Tier 3,Medium,Supermarket Type3,34
22,Low Fat,NCB30,196.5084,1587.2672,Household,0.025698,20.600000,2004,OUT035,Tier 2,Small,Supermarket Type1,15
23,Low Fat,FDC37,107.6938,214.3876,Baking Goods,0.057557,8.195000,1985,OUT019,Tier 1,Small,Grocery Store,34
24,Regular,FDR28,165.0210,4078.0250,Frozen Foods,0.025896,9.800000,1997,OUT046,Tier 1,Small,Supermarket Type1,22
25,Low Fat,NCD06,45.9060,838.9080,Household,0.099887,9.628698,2007,OUT017,Tier 2,Small,Supermarket Type1,12
26,Regular,FDV10,42.3112,1065.2800,Snack Foods,0.066693,19.952948,2004,OUT035,Tier 2,Small,Supermarket Type1,15
27,Low Fat,DRJ59,39.1164,308.9312,Hard Drinks,0.019356,15.837966,1987,OUT013,Tier 3,Small,Supermarket Type1,32
28,Regular,FDE51,45.5086,178.4344,Dairy,0.161467,13.300001,1998,OUT010,Tier 3,Small,Grocery Store,21
29,Regular,FDC14,43.6454,125.8362,Canned,0.072222,9.058722,1985,OUT019,Tier 1,Small,Grocery Store,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14174,Regular,FDD23,186.1898,NaN,Starchy Foods,0.048645,7.600000,1987,OUT013,Tier 3,Small,Supermarket Type1,32
14175,Low Fat,FDP32,126.7678,NaN,Fruits and Vegetables,0.087847,19.200000,2002,OUT045,Tier 2,Small,Supermarket Type1,17
14176,Regular,FDO31,80.2960,NaN,Fruits and Vegetables,0.028977,7.060000,2004,OUT035,Tier 2,Small,Supermarket Type1,15
14177,Low Fat,FDQ57,144.5760,NaN,Snack Foods,0.000000,13.500000,1987,OUT013,Tier 3,Small,Supermarket Type1,32
14178,Regular,FDX32,143.6786,NaN,Fruits and Vegetables,0.099375,13.500000,1985,OUT027,Tier 3,Medium,Supermarket Type3,34
14179,Low Fat,FDC39,207.8296,NaN,Dairy,0.158425,7.600000,1985,OUT027,Tier 3,Medium,Supermarket Type3,34
14180,Low Fat,FDU55,261.3278,NaN,Fruits and Vegetables,0.035911,21.200000,1997,OUT046,Tier 1,Small,Supermarket Type1,22
14181,Low Fat,FDL45,123.4704,NaN,Snack Foods,0.037656,17.600000,1987,OUT013,Tier 3,Small,Supermarket Type1,32
14182,Low Fat,DRK37,188.8530,NaN,Soft Drinks,0.044073,12.300000,1999,OUT049,Tier 1,Small,Supermarket Type1,20
14183,Low Fat,FDK22,215.3850,NaN,Snack Foods,0.026065,10.500000,1987,OUT013,Tier 3,Small,Supermarket Type1,32
14184,Low Fat,DRG37,155.7972,NaN,Soft Drinks,0.000000,16.700000,1985,OUT027,Tier 3,Medium,Supermarket Type3,34
14185,Low Fat,FDK22,214.3850,NaN,Snack Foods,0.026234,16.700000,2007,OUT017,Tier 2,Small,Supermarket Type1,12
14186,Low Fat,DRH36,72.8696,NaN,Soft Drinks,0.033516,17.600000,2009,OUT018,Tier 3,Medium,Supermarket Type2,10
14187,Regular,DRC36,173.4054,NaN,Soft Drinks,0.045168,17.700000,2009,OUT018,Tier 3,Medium,Supermarket Type2,10
14188,Low Fat,DRE03,46.0718,NaN,Dairy,0.024110,12.300000,1985,OUT027,Tier 3,Medium,Supermarket Type3,34
14189,Regular,FDF34,196.9084,NaN,Snack Foods,0.014019,10.195000,1997,OUT046,Tier 1,Small,Supermarket Type1,22
14190,Low Fat,FDZ22,82.1250,NaN,Snack Foods,0.045270,19.200000,1997,OUT046,Tier 1,Small,Supermarket Type1,22
14191,Low Fat,FDC44,115.1518,NaN,Fruits and Vegetables,0.288892,19.200000,1998,OUT010,Tier 3,Small,Grocery Store,21
14192,Low Fat,FDN31,188.0530,NaN,Fruits and Vegetables,0.072529,17.700000,1985,OUT027,Tier 3,Medium,Supermarket Type3,34
14193,Regular,FDO03,229.4352,NaN,Meat,0.037092,9.500000,2007,OUT017,Tier 2,Small,Supermarket Type1,12
14194,Regular,FDA01,59.5904,NaN,Canned,0.054463,10.195000,1999,OUT049,Tier 1,Small,Supermarket Type1,20
14195,Low Fat,NCH42,231.1010,NaN,Household,0.036594,17.600000,1999,OUT049,Tier 1,Small,Supermarket Type1,20
14196,Low Fat,FDF46,116.0834,NaN,Snack Foods,0.094053,10.500000,2009,OUT018,Tier 3,Medium,Supermarket Type2,10
14197,Low Fat,DRL35,43.2770,NaN,Hard Drinks,0.030704,13.500000,1997,OUT046,Tier 1,Small,Supermarket Type1,22
14198,Regular,FDW46,63.4484,NaN,Snack Foods,0.070411,7.060000,1999,OUT049,Tier 1,Small,Supermarket Type1,20
14199,Regular,FDB58,141.3154,NaN,Snack Foods,0.013496,7.060000,1997,OUT046,Tier 1,Small,Supermarket Type1,22
14200,Regular,FDD47,169.1448,NaN,Starchy Foods,0.142991,16.700000,2009,OUT018,Tier 3,Medium,Supermarket Type2,10
14201,Low Fat,NCO17,118.7440,NaN,Health and Hygiene,0.073529,10.195000,2002,OUT045,Tier 2,Small,Supermarket Type1,17
14202,Regular,FDJ26,214.6218,NaN,Canned,0.000000,9.500000,2007,OUT017,Tier 2,Small,Supermarket Type1,12
14203,Regular,FDU37,79.7960,NaN,Canned,0.104720,7.600000,2002,OUT045,Tier 2,Small,Supermarket Type1,17

In [133]:
# Split the dataset into train and test, and delete Item_Outlet_Sales from the test dataset.

train_df = data.iloc[:8523, :]
test_df = data.iloc[8523:, :]
test_df = test_df.drop('Item_Outlet_Sales', axis=1)

In [134]:
print(train_df.shape, test_df.shape)

(8523, 13) (5681, 12)

In [135]:
# Save the cleaned train and test datasets as csv files. 

train_df.to_csv('data/train_clean.csv', index=False)
test_df.to_csv('data/test_clean.csv', index=False)